//________________________________________________________________________________IMPORT PARTS____//
@import "./html-coding/colors";
@import "./html-coding/resp";
@import "./html-coding/widths";
@import "./html-coding/flex";
//___________________________________________________________________________________VARIABLES____//
//___________________________________________________________________________________Container____//
$container-width: 90%;
$max-container-width: 1366px;
//___________________________________________________________________________________Container____//
//_______________________________________________________________________________________Fonts____//
$mainFont: Arial, Helvetica, sans-serif;
$secondFont: "Times New Roman", Times, serif;
$fontSize: 14px;
$mainLineHeight: 20px;
//_______________________________________________________________________________________Fonts____//
//___________________________________________________________________________________VARIABLES____//
body {
  font-family: $mainFont;
  font-size: $fontSize;
  font-weight: normal;
  line-height: $mainLineHeight;
}
.container {
  width: $container-width;
  max-width: $max-container-width;
  margin: 0 auto;
}
//______________________________________________________________RESET STANDART BROWSERS STYLES____//
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: $linkColor;
}
input {
  border: none;
  outline: none;
}
